.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answers{
    display: flex;   
    flex-direction: column;
}

.upper-answers,
.lower-answers{
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin: 15px;
    
}

.a1,.a2,.a3,.a4{ 
    font-size: 13px;
    height:75px;
    padding: 10px 20px;
    width: 200px;
}

