#log-out{
    /* position: absolute; */
    /* right:0px; */
    cursor: pointer;
    /* font-weight: bold; */
}
/* .nav{
    justify-content: space-between !important
} */
#home{
    cursor: pointer;
    font-weight: bold;
    
}
.nav-link{
    cursor: default;
    
}

@media screen and (max-width: 700px) {
      .hide{
          display: none;
      }
}